<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="">
    <nav id="navbar" class="">
      <div class="nav-wrapper">

        <!-- Navbar Links -->
        <ul id="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/squadform">Create Squad</a></li>
          <li><a href="/heroform">Create Hero</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    </div>

      #parse( $template )

    </div>
  </body>
</html>